---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { buttonVariants } from "@/components/ui/button";
---

<BaseLayout
  title="404 - Not Found"
  description="404 Error — this page was not found"
>
  <div class="mt-32 flex flex-col items-center justify-center px-8">
    <p class="text-muted-foreground text-sm">404</p>
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Page not found
    </h1>
    <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
      Sorry, we couldn't find the page you're looking for.
    </p>
    <a href="/" rel="noreferrer" class={buttonVariants()}> Go back home</a>
  </div>
</BaseLayout>
