---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { Icons } from "@/components/Icons";
import { HomeIcon } from "lucide-react";

const res = await fetch(
  "https://api.github.com/repos/area44/astro-shadcn-ui-template",
);
const json = await res.json();

const StarCount =
  json.stargazers_count >= 1000
    ? `${Math.round(json.stargazers_count / 1000)}k`
    : json.stargazers_count.toLocaleString();
---

<header class="bg-background sticky top-0 z-50 w-full">
  <div class="container-wrapper 3xl:fixed:px-0 px-6">
    <div
      class="3xl:fixed:container flex h-(--header-height) items-center **:data-[slot=separator]:h-4!"
    >
      <Button variant="ghost" size="icon" className="size-8 flex">
        <a href="/">
          <HomeIcon className="size-5" />
          <span class="sr-only">Home</span>
        </a>
      </Button>

      <nav class="items-center gap-0 hidden lg:flex">
        <Button variant="ghost">
          <a
            href="https://astro.build"
            target="_blank"
            rel="noopener noreferrer"
          >
            Astro
          </a>
        </Button>
        <Button variant="ghost">
          <a
            href="https://ui.shadcn.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            shadcn/ui
          </a>
        </Button>
      </nav>

      <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
        <Button variant="ghost" size="sm" className="h-8 shadow-none">
          <a
            href="https://github.com/area44/astro-shadcn-ui-template"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 h-8"
          >
            <Icons.gitHub />
            <span class="text-muted-foreground w-fit text-xs tabular-nums">
              {StarCount}
            </span>
          </a>
        </Button>
        <Separator orientation="vertical" />
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
