---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Button } from "@/components/ui/button";
---

<header class="bg-background sticky top-0 z-50 w-full">
  <div class="container-wrapper 3xl:fixed:px-0 px-6">
    <div
      class="3xl:fixed:container flex h-(--header-height) items-center **:data-[slot=separator]:!h-4"
    >
      <Button variant="ghost">
        <a href="/" target="_blank" rel="noopener noreferrer"> Home </a>
      </Button>

      <nav class="items-center gap-0 hidden lg:flex"></nav>
      <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
        <Button variant="ghost">
          <a
            href="https://github.com/area44/astro-shadcn-ui-template"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </Button>

        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
