---
import HeadSEO from '@/components/HeadSEO.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
